.activities-button {
  background-color: rgba(30, 24, 24, 0.3);
  color: rgb(14, 213, 44);
  padding: 4px 13px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  font-size: 25px;
  height: 140px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.Restaurant-activities-box {
  border: 4px;
  border-style: solid;
  border-color: transparent;
  
  
  margin: 4em;
  padding: 2em;
  text-align: center;
  justify-content: center;
  height: 170px;
  color: white;
  font-size: 23px;
  text-shadow: 3px 3px #422387;
  font-weight: 700;
  margin-top: -5px;
  
}

.price-dropdown {
  font-size: 30px;
  color:rgb(14, 213, 44);
  margin-top: 30px;
  text-shadow: 3px 3px #100f11;
}

.open-dropdown {
  font-size: 30px;
  color:rgb(14, 213, 44);
  margin-top: 30px;
  text-shadow: 3px 3px #0d0c0d;
  
}

.view-all {
  font-size: 20px;
}

.tbody {
  background-color: rgba(30, 24, 24, 0.3);
  color: rgb(87, 245, 38);
  text-shadow: 2px 2px black;
}

.website {
 
  text-shadow: 1px 2px rgb(24, 103, 38);
}

.div1 {
  width:50%;
  float:left;
}

.div2 {
  width: 50%;
  float:right;
}